@import '../components/breakpoints';
@import '../components/variables';

.blog-post {

	.columns {
		flex-direction: column;
	}

	.heading-wrap,
	.subheading-wrap {
	  margin-left: 8.333%;
	}

	.subheading-inner {
		margin: 0;
	}

	.blog-meta {
		color: tint($text, 40%);
	}

	.blog-date {
		color: tint($text, 60%);
		font-size: 0.9em;
	}

	.blog-description {
		color: tint($text, 10%);
		font-size: 0.8em;
		font-style: italic;
		text-align: center;
	}
}
