@import '../components/variables';
@import '../components/breakpoints';

.faqs {

	.page-hero {

		.is-subheading {
			display: block;
			margin-top: 1.5em;
			color: $text;
			font-size: 0.667em;
			line-height: 1.2;
		}
	}

	.faq-heading {
		color: $neutral;
		margin-bottom: 1em;
	}
}


