@import '../components/breakpoints';
@import '../components/variables';

.mainpitch {
	margin: 0;
	overflow: hidden;

	.pitch-image {
		background-size: cover;
		background-position: top right 33.333%;
		background-repeat: no-repeat;
		min-height: 26em;
	}

	.column {
		padding: 0;
	}

	.pitches {
		display: flex;
		flex-flow: column nowrap;
		background: #fff;

		@include tablet-only {
			flex-direction: row;
		}
	}

	.pitch {
		padding: 1.5em;

		ul {
			padding-left: calc(68px + 1.25em);

			@include tablet-only {
				padding-left: 0;
			}
		}

		li {
			padding: 0.5em 0;
			color: $text;
			font-size: 0.8em;
		}
	}

	.pitch-heading {
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		align-items: center;
		line-height: 1.1;

		@include tablet-only {
			flex-wrap: wrap;
		}

		.pitch-icon {
			margin: 1em 1em 1em 0;
			border: 2px solid rgba($text, 0.5);
			line-height: 0;
		}
	}
}

.supporters,
.featured-links {

	.feature,
	.feature-link {
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
	}

	.feature-image {
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		width: 12em;
		min-height: 8em;
	}

	.feature-description {
		text-align: center;
	}
}

.featured-links {

	.features {
		justify-content: center;
		align-items: center;
	}

	.column {
		max-width: 14em;
		padding: 2em;
		margin-left: auto;
		margin-right: auto;

		@include desktop {
			margin: 0;
		}
	}

	.feature {
		position: relative;
		padding-bottom: 81.25%;
		background: $primary;
		border-radius: 50%;
	}

	.feature-link {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		padding: 1.5em 2em 2em;
		transform: translate(-50%, -50%);
	}

	.feature-image {
		width: 5em;
		min-height: 0;

		@include desktop {
			width: 4em;
		}
	}

	.feature-text {
		display: block;
		color: $primary-invert;
		font-size: 0.75em;
		line-height: 1.2;
		text-align: center;
	}
}
