@import '../../node_modules/bulma/bulma';

@import './breakpoints';
@import './variables';

@import './button';

// full desktop, for base 10px = 1rem
html {
	font-size: 62.5%;
	height: 100%;

	@include mobile {
		font-size: 62.5%;
		-webkit-text-size-adjust: 100%;
		-moz-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
	}

	@include tablet {
		$map: ($mobile: 8px, $tablet: 9px);
		font-size: linear-interpolation($map);
	}

	@include desktop {
		$map: ($tablet: 9px, $desktop: 10px);
		font-size: linear-interpolation($map);
	}

	@include widescreen {
		$map: ($desktop: 11px, 1600px: 12px);
		font-size: linear-interpolation($map);
	}

	@include fullhd {
		font-size: 82.5%
	}
}

body {
	@include sans;
	font-size: 1.6rem;
	line-height: 1.55;
}

* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

hr {
	display: block;
	position: relative;
	height: 3px;
	width: 33.333%;
	left: 50%;
	transform: translateX(-50%);
	background: rgba($text, 0.2);
}

a:focus {
	outline: 1px dotted;
	outline-offset: -4px;
}

.has-bg-white {
	background-color: #fff;
}

.has-bg-base {
	background-color: $base;
}

.has-bg-primary {
	background-color: $primary;
}

.has-bg-secondary {
	background-color: $secondary;
}

.has-bg-neutral {
	background-color: $neutral;
}

// size overrides
.is-size-1 {
  font-size: 2.5em !important;
}

.is-size-2 {
  font-size: 2em !important;
}

.is-size-3 {
  font-size: 1.5em !important;
}

.is-size-4 {
  font-size: 1.25em !important;
}

.is-size-5 {
  font-size: 1em !important;
}

.is-size-6 {
  font-size: 0.75em !important;
}

.is-size-7 {
  font-size: 0.5em !important;
}

@media screen and (max-width: 768px) {
  .is-size-1-mobile {
    font-size: 2.5em !important;
  }
  .is-size-2-mobile {
    font-size: 2em !important;
  }
  .is-size-3-mobile {
    font-size: 1.5em !important;
  }
  .is-size-4-mobile {
    font-size: 1.25em !important;
  }
  .is-size-5-mobile {
    font-size: 1em !important;
  }
  .is-size-6-mobile {
    font-size: 0.75em !important;
  }
  .is-size-7-mobile {
    font-size: 0.5em !important;
  }
}

@media screen and (min-width: 769px), print {
  .is-size-1-tablet {
    font-size: 2.5em !important;
  }
  .is-size-2-tablet {
    font-size: 2em !important;
  }
  .is-size-3-tablet {
    font-size: 1.5em !important;
  }
  .is-size-4-tablet {
    font-size: 1.25em !important;
  }
  .is-size-5-tablet {
    font-size: 1em !important;
  }
  .is-size-6-tablet {
    font-size: 0.75em !important;
  }
  .is-size-7-tablet {
    font-size: 0.5em !important;
  }
}

@media screen and (max-width: 1023px) {
  .is-size-1-touch {
    font-size: 2.5em !important;
  }
  .is-size-2-touch {
    font-size: 2em !important;
  }
  .is-size-3-touch {
    font-size: 1.5em !important;
  }
  .is-size-4-touch {
    font-size: 1.25em !important;
  }
  .is-size-5-touch {
    font-size: 1em !important;
  }
  .is-size-6-touch {
    font-size: 0.75em !important;
  }
  .is-size-7-touch {
    font-size: 0.5em !important;
  }
}

@media screen and (min-width: 1024px) {
  .is-size-1-desktop {
    font-size: 2.5em !important;
  }
  .is-size-2-desktop {
    font-size: 2em !important;
  }
  .is-size-3-desktop {
    font-size: 1.5em !important;
  }
  .is-size-4-desktop {
    font-size: 1.25em !important;
  }
  .is-size-5-desktop {
    font-size: 1em !important;
  }
  .is-size-6-desktop {
    font-size: 0.75em !important;
  }
  .is-size-7-desktop {
    font-size: 0.5em !important;
  }
}

@media screen and (min-width: 1216px) {
  .is-size-1-widescreen {
    font-size: 2.5em !important;
  }
  .is-size-2-widescreen {
    font-size: 2em !important;
  }
  .is-size-3-widescreen {
    font-size: 1.5em !important;
  }
  .is-size-4-widescreen {
    font-size: 1.25em !important;
  }
  .is-size-5-widescreen {
    font-size: 1em !important;
  }
  .is-size-6-widescreen {
    font-size: 0.75em !important;
  }
  .is-size-7-widescreen {
    font-size: 0.5em !important;
  }
}

@media screen and (min-width: 1408px) {
  .is-size-1-fullhd {
    font-size: 2.5em !important;
  }
  .is-size-2-fullhd {
    font-size: 2em !important;
  }
  .is-size-3-fullhd {
    font-size: 1.5em !important;
  }
  .is-size-4-fullhd {
    font-size: 1.25em !important;
  }
  .is-size-5-fullhd {
    font-size: 1em !important;
  }
  .is-size-6-fullhd {
    font-size: 0.75em !important;
  }
  .is-size-7-fullhd {
    font-size: 0.5em !important;
  }
}

.content .taglist {
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	align-items: center;
	margin-top: 1.5rem;
	margin-right: 1.5rem;
	margin-bottom: 0;
	margin-left: 0;
	list-style: none;
}
.content .taglist li {
	margin-top: 0;
	margin-bottom: 1.5rem;
	padding: 0 2rem 1rem 0;
}

.full-width-image-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100vw;
	height: 400px;
	left: 50%;
	right: 50%;
	margin: 2em -50vw;
	background-size: cover;
	background-position: bottom;
}

.full-width-image {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 400px;
	background-size: cover;
	background-position: bottom;
}

.full-width-heading {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 12em;
	padding: 3em 2em;

	&.has-pre-line {

		h1, h2, h3, h4, h5, h6 {
			line-height: 1.2;
			white-space: pre-line;
		}
	}

	h1, h2, h3, h4, h5, h6 {
		max-width: 100%;
		color: $primary-invert;

		@media (min-width: 48em) {
			width: 40em;
		}
	}
}

.margin-top-0 {
	margin-top: 0 !important;
}

.icon svg {
	width: 1.5rem;
	height: 1.5rem;
	fill: currentColor;
}

.social {

	a {
		display: block;
		position: relative;
		width: 1em;
		height: 1em;
		margin: 0.5em;
		padding: 0.5em 0.5em 0.3em 0.5em;
		background: initial;
		border-radius: 0;
		vertical-align: middle;
	}

	svg {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		fill: $primary;
	}
}

.blog-list-item.is-featured {
	background-color: #d6400033;
}

.blog-list-item header {
	display: flex;
	margin-bottom: 1em;
}

.blog-list-item .featured-thumbnail {
	flex-basis: 35%;
	margin: 0 1.5em 0 0;
}

// responsiveness
@include tablet-only {
	.blog-list-item .featured-thumbnail {
		flex-basis: 50%;
	}
}

@include mobile {
	.blog-list-item {
		header {
			display: block;
		}
		.featured-thumbnail {
			max-width: 70%;
			margin: 0 0 1em;
			text-align: center;
		}
	}
}
