@import '../../node_modules/bulma/bulma';

@import './breakpoints';
@import './variables';

.content .taglist {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  margin-top: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 0;
  margin-left: 0;
  list-style: none;
}
.content .taglist li {
  margin-top: 0;
  margin-bottom: 1.5rem;
  padding: 0 2rem 1rem 0;
}

.full-width-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 400px;
  left: 50%;
  right: 50%;
  margin: 2em -50vw;
  background-size: cover;
  background-position: bottom;
}

.full-width-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 400px;
  background-size: cover;
  background-position: bottom;
}

.btn,
.button {
  @include serif;
  display: inline-block;
  padding: 12px 16px 10px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 0.5;
  text-align: center;
  color: $mhc-blue;
  border-radius: 0;
  transition: all 0.15s ease;
  background-color: #fff;
  text-decoration: none;
  // box-shadow: inset 0 0 0 2px $mhc-blue-lt;
}

.button {
  color: $mhc-blue;
  background: transparent;
  border: 2px solid $mhc-blue;
  transition: 150ms color, 150ms background, 150ms border;
  border-radius: 0;

  &:hover {
    color: $mhc-blue-invert;
    background: $mhc-blue;
    border-color: $mhc-blue;
  }
}

.button-invert {
  color: $mhc-blue-invert;
  background: $mhc-blue;

  &:hover {
    color: $mhc-blue;
    background: transparent;
    border-color: $mhc-blue;
  }
}

.margin-top-0 {
  margin-top: 0 !important;
}

.icon svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: currentColor;
}

footer.footer {
  padding: 3rem 0 0;
  background-color: transparent;
}

.social {
  padding: 2em;
}

.social a {
  display: inline;
  width: 1em;
  height: 1em;
  margin: 0.5em;
  padding: 0.5em 0.5em 0.3em 0.5em;
  border-radius: 1em;
  background-color: $white-ter;
  vertical-align: middle;
}

.blog-list-item.is-featured {
  background-color: #d6400033;
}

.blog-list-item header {
  display: flex;
  margin-bottom: 1em;
}

.blog-list-item .featured-thumbnail {
  flex-basis: 35%;
  margin: 0 1.5em 0 0;
}

// responsiveness
@include tablet-only {
  .blog-list-item .featured-thumbnail {
    flex-basis: 50%;
  }
}

@include mobile {
  .blog-list-item {
    header {
      display: block;
    }
    .featured-thumbnail {
      max-width: 70%;
      margin: 0 0 1em;
      text-align: center;
    }
  }
}
