@import '../../node_modules/bulma/bulma';

@import './breakpoints';
@import './variables';

@import './button';

// full desktop, for base 10px = 1rem
html {
	font-size: 62.5%;
	height: 100%;

	@include widescreen {
		$map: (1360px: 10px, 1600px: 12px);
		font-size: linear-interpolation($map);
	}

	@include desktop {
		$map: ($tablet: 9px, $desktop: 10px);
		font-size: linear-interpolation($map);
	}

	@include tablet {
		$map: ($mobile: 8px, $tablet: 9px);
		font-size: linear-interpolation($map);
	}

	@include mobile {
		font-size: 62.5%;
		-webkit-text-size-adjust: 100%;
		-moz-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
	}
}

body {
	@include sans;
	font-size: 1.6rem;
	line-height: 1.55;
}

* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.has-bg-base {
	background-color: $base;
}

.has-bg-primary {
	background-color: $primary;
}

.has-bg-secondary {
	background-color: $secondary;
}

.has-bg-neutral {
	background-color: $neutral;
}

.content .taglist {
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	align-items: center;
	margin-top: 1.5rem;
	margin-right: 1.5rem;
	margin-bottom: 0;
	margin-left: 0;
	list-style: none;
}
.content .taglist li {
	margin-top: 0;
	margin-bottom: 1.5rem;
	padding: 0 2rem 1rem 0;
}

.full-width-image-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100vw;
	height: 400px;
	left: 50%;
	right: 50%;
	margin: 2em -50vw;
	background-size: cover;
	background-position: bottom;
}

.full-width-image {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 400px;
	background-size: cover;
	background-position: bottom;
}

.full-width-heading {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 12em;
	padding: 3em 2em;

	&.has-pre-line {

		h1, h2, h3, h4, h5, h6 {
			line-height: 1.2;
			white-space: pre-line;
		}
	}

	h1, h2, h3, h4, h5, h6 {
		max-width: 100%;
		color: $primary-invert;

		@media (min-width: 48em) {
			width: 40em;
		}
	}
}

.margin-top-0 {
	margin-top: 0 !important;
}

.icon svg {
	width: 1.5rem;
	height: 1.5rem;
	fill: currentColor;
}

.social a {
	display: inline;
	width: 1em;
	height: 1em;
	margin: 0.5em;
	padding: 0.5em 0.5em 0.3em 0.5em;
	border-radius: 1em;
	background-color: $white-ter;
	vertical-align: middle;
}

.blog-list-item.is-featured {
	background-color: #d6400033;
}

.blog-list-item header {
	display: flex;
	margin-bottom: 1em;
}

.blog-list-item .featured-thumbnail {
	flex-basis: 35%;
	margin: 0 1.5em 0 0;
}

// responsiveness
@include tablet-only {
	.blog-list-item .featured-thumbnail {
		flex-basis: 50%;
	}
}

@include mobile {
	.blog-list-item {
		header {
			display: block;
		}
		.featured-thumbnail {
			max-width: 70%;
			margin: 0 0 1em;
			text-align: center;
		}
	}
}
