@import './breakpoints';
@import './variables';

.button {
	display: inline-block;
	height: auto;
	padding: 0.875em 1em;
	font-size: 0.875em;
	font-weight: 700;
	line-height: 0.875;
	letter-spacing: 0.0625em;
	text-transform: uppercase;
	text-align: center;
	color: $primary;
	border-radius: 0;
	transition: 150ms color, 150ms background, 150ms border;
	background-color: $base;
	text-decoration: none;
	// box-shadow: inset 0 0 0 2px $primary-lt;
}

.button:focus,
.button.is-focused,
.button:focus:not(:active),
.button.is-focused:not(:active) {
	box-shadow: none;
	outline: 1px dotted;
	outline-offset: -4px;
}

.button {
	color: $primary;
	background: transparent;
	border: 2px solid $primary;
	border-radius: 2px;

	&:hover,
	&:focus,
	&.is-focused,
	&:focus:not(:active),
	&.is-focused:not(:active) {
		color: $primary-invert;
		background: $primary;
		border-color: $primary;
	}
}

.button-secondary {
	color: $primary;
	background: $secondary;
	border: 2px solid $secondary;

	&:hover,
	&:focus,
	&.is-focused,
	&:focus:not(:active),
	&.is-focused:not(:active) {
		color: $secondary;
		background: $primary;
		border-color: $primary;
	}
}

.button-invert {
	color: $primary-invert;
	background: $primary;

	&:hover,
	&:focus,
	&.is-focused,
	&:focus:not(:active),
	&.is-focused:not(:active) {
		color: $primary;
		background: transparent;
		border-color: $primary;
	}
}

.button-filled {
	color: $primary;
	background: $base;
	border-color: $base;

	&:hover,
	&:focus,
	&.is-focused,
	&:focus:not(:active),
	&.is-focused:not(:active) {
		border-color: $base;
		background: transparent;
	}
}

.button-outline {
	color: $base;
	background: transparent;
	border-color: $base;

	&:hover,
	&:focus,
	&.is-focused,
	&:focus:not(:active),
	&.is-focused:not(:active) {
		border-color: $base;
		background: $base;
		color: $primary;
	}
}
