@import './variables';
@import './breakpoints';

//Menu overrides
$menu-item-color: $text;
$menu-item-hover-color: $text !important;
$menu-item-hover-background-color: transparent;
$menu-item-active-color: $text;
$menu-item-active-background-color: transparent;
$menu-list-border-left: none;
$menu-label-color: $text;

@import '../../node_modules/bulma/sass/utilities/initial-variables';

footer.footer {
	padding: 0;
}

.footer .container {
	display: flex;
	height: auto;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}

.footer-logo {
	display: inline-block;
	width: 14em;
	padding: 0 2.5em;

	@include from($tablet) {
		display: block;
	}
}

.footer-copy {
	color: $menu-item-color;
	opacity: 0.6;
	font-size: 0.8em;
	text-align: center;

	@include from($tablet) {
		text-align: left;
		font-size: 0.625em;

		br {
			display: none;
		}
	}

	strong {
		color: $menu-item-color;
		display: inline-block;
		margin: 0 0.5em;
	}
}

.footer .menu {
	font-size: initial;
	padding-top: 1.2em;
	padding-bottom: 1.5em;

	.container {
		flex-direction: row-reverse;

		@include until($tablet) {
			flex-direction: column;
		}
	}
}

.menu-list {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: center;
	list-style: none !important;
	text-align: left;

	@include until($tablet) {
		flex-direction: column;
		margin-bottom: 1em;
	}

	@include from($tablet) {
		margin-right: -1.375em;
	}
}

.footer .social {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	font-size: 1.5em;

	.container {
		justify-content: center;
		border-bottom: 1px solid rgba($text, 0.2);

		@include until($tablet) {
			padding-top: 0.5em;
			padding-bottom: 0.5em;
		}
	}

	a:focus {
		outline-offset: 4px;
	}

	svg {
		fill: $secondary;
	}
}

.footer .menu-item {
	margin: 0 0.875em;
	color: $menu-item-color;
	opacity: 0.9;
	white-space: nowrap;

	@include from($tablet) {
		font-size: 0.8em;
	}

	&:focus,
	&:focus-within,
	&:hover,
	&.is-active {
		background-color: $menu-item-active-background-color;
	  color: $menu-item-color;
	  opacity: 1;
	  text-decoration: underline;
	}
}
