@import './variables';
@import './breakpoints';

//Menu overrides
$menu-item-color: $primary;
$menu-item-hover-color: $primary !important;
$menu-item-hover-background-color: $secondary;
$menu-item-active-color: $primary;
$menu-item-active-background-color: $secondary;
$menu-list-border-left: 1px solid $primary-invert;
$menu-label-color: $primary;

@import '../../node_modules/bulma/sass/utilities/initial-variables';

footer.footer {
	background: $secondary;
	padding: 1.667em 0 2.222em;
}

.footer .container {
	display: flex;
	height: auto;
	justify-content: space-between;
	align-items: center;

	@include until($tablet) {
		flex-direction: column;

		> * {
			margin: 1em 0;
		}
	}
}

.footer-logo {
	display: inline-block;
	width: 14em;
	padding: 0 2.5em;

	@include from($tablet) {
		display: block;
	}
}

.footer-copy {
	@include serif;
	color: $primary;
	font-size: 0.75em;
	padding: 0 2em;
	margin-left: auto;
	text-align: center;

	strong {
		color: $primary;
		display: inline-block;
		margin-left: 0.5em;
	}
}

.menu-list {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	list-style: none !important;
	text-align: left;

	@include mobile {
		flex-flow: column;
	}
}

.footer .social {
	padding: 0;

	a {
		background: initial;
		border-radius: 0;
	}

	img {
		width: 1.875em;
		height: 1.875em;
	}
}

.footer .menu-item {
	margin: 0 0.875em;
	color: $primary;
	opacity: 0.9;
	font-size: 0.875em;

	&:focus,
	&:focus-within,
	&:hover,
	&.is-active {
		background-color: $menu-item-active-background-color;
	  color: $primary;
	  opacity: 1;
	}
}
