.page-hero {
	padding-top: 3.25rem;
}

.page-hero h1,
.page-hero h3 {
	padding: 0.25em;
	font-weight: normal;
	color: #000;
}

.page-hero h1,
.page-hero h3 {
	width: 16em;
	max-width: 100%;
}

.eyebrow,
.page-hero h3 small {
	display: block;
}

.hero-cta {
	padding: 2em;
	align-self: center;
}

.full-width-image {
	width: 100%;
  min-height: 400px;
  height: auto;
	background-position: top left;
	background-attachment: fixed;
}

.heading-wrap {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
	min-height: 150px;
	line-height: 1;
}

