@import './variables';
@import './breakpoints';

.page-hero {
	padding: 3.25rem 0 2em;

	@include xsmall {
		padding-top: 6.5rem;
	}
}

.page-hero h1,
.page-hero h3 {
	font-weight: normal;
	line-height: 1.2;
	color: $neutral;
}

.eyebrow,
.page-hero h3 small {
	display: block;
}

.hero-cta {
	margin-top: 1em;

	.button {
		font-size: 1.625em;
	}
}

.full-width-image {
	width: 100%;
  min-height: 400px;
  height: auto;
	background-position: top left;
	background-attachment: fixed;
}

.heading-wrap,
.subheading-wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	min-height: 150px;
}

.subheading-inner {
	margin-left: 3em;
	padding: 1em 1.5em;
	border-left: 3px solid $secondary;

	small {
		font-weight: bold;
		line-height: 2.5;
	}

	h3,
	h4 {
		line-height: 1.55;
	}

	h3 {
		@include serif;
		margin-bottom: 1em;
	}

	h4 {
		font-size: 1.2em !important;
		color: $text;
	}
}

