@import '../../node_modules/bulma/sass/utilities/initial-variables';
@import './variables';
@import './breakpoints';

.navbar {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar-menu {

	@include tablet-only {
		position: absolute;
		min-width: 50%;
		top: 100%;
		right: 0;
		padding-right: 2em;
	}

	@include mobile {
		text-align: center;
	}

	text-align: right;
}

.navbar-item .icon {
  color: $primary;
}

.navbar-brand .navbar-item.logo {
  padding: 0 1rem;
}
