@import '../../node_modules/bulma/sass/utilities/initial-variables';
@import './variables';
@import './breakpoints';

.navbar {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

	> .container {

		@include small {
			flex-wrap: wrap;
		}
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.navbar-brand {

	@include xsmall {
		flex-basis: 100%;
	}
	margin-right: auto;
	order: 0;
}

.navbar-burger {

	@include from($mobile) {
		margin-left: 0;
	}
	flex: 0 0 auto;
	order: 3;
}

.navbar-button {
	margin: 0 0.5em;
	order: 2;
}

.navbar-menu {

	@include until($desktop) {
		position: absolute;
		min-width: 50%;
		top: 100%;
		right: 0;
	}

	@include mobile {
		width: 100%;
		text-align: center;
	}

	max-width: 48em;
	justify-content: space-around;
	padding: 0 3em;
	text-align: right;
	order: 1;
}

.navbar-item .icon {
  color: $primary;
}

.navbar-brand .navbar-item.logo {
  padding: 0 1rem;
}
