@import './variables';
@import './breakpoints';

.signup {
	flex-direction: column;

	.column-wrap,
	.column {
		display: flex;
		flex-flow: column nowrap;
		flex: 1 0 0%;
	}

	.column {
		justify-content: center;
		background: rgba($primary, 0.7);
	}
}

.signup-form {
	padding: 2em 1em;
	color: $base;

	h2 {
		color: $base;
	}

	.field {

		.label {
			color: $base;
		}

		.input {
			font-size: 1.5em;
			border-radius: 2px;

			&:focus {
				border-color: $primary;
			}
		}
	}

	.button[type='submit'] {
		width: 100%;
		height: auto;
		margin-top: 2em;
		font-weight: bold;
	}
}
