.testimonials-container {

	.message {
		background-color: transparent;
  }

	.message,
  .message-body {
		border-radius: 0;
  }

	blockquote {
		background-color: #efefef;

		cite {
			display: block;
			margin-top: 1em;
			white-space: pre-line;

			.author-role {
				display: block;
				font-style: normal;
			}
		}
	}
}
