@import './breakpoints';
@import './variables';

.timeline {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
	position: relative;

	&:before {
		content: '';
		display: block;
		position: absolute;
		width: 0.25em;
		height: calc(100% - 4em);
		top: 2em;
		bottom: 2em;
		left: calc(33.333% + 1em);
		background: rgba($text, 0.4);
		transform: translateX(-50%);

		@include tablet {
			left: 50%;
		}
	}
}

.timeline-entry {
	display: flex;
	justify-content: center;
	align-items: baseline;
	width: 100%;
	margin: 0;

	&.timeline-left {
		flex-flow: row nowrap;
	}

	@include tablet {
		&.timeline-right {
			flex-flow: row-reverse nowrap;
		}
	}

	@include desktop {
		flex-wrap: wrap;
	}
}

.timeline-date,
.timeline-content {
	padding: 0.5em 1em;
}

.timeline-date {
	flex: 0 1 33.333%;

	h3 {
		display: inline-block;
		line-height: 1;
		text-align: center;

		@include tablet {
			flex: 0 1 48%;
		}

	}

	@include tablet {
		flex: 0 1 48%;
	}
}

.timeline-content {
	flex: 1 0 0%;

	@include tablet {
		flex: 0 1 48%;
	}
}

.timeline-marker {
	$markerSize: 2em;
	$borderWidth: 0.4em;

	flex: 0 0 $markerSize;
	position: relative;
	height: $markerSize;
	top: $markerSize * 0.185;

	&:before {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		background: $base;
		border-radius: 50%;
	}

	&:after {
		content: '';
		display: block;
		position: absolute;
		width: calc(100% - (#{$borderWidth} * 2));
		height: calc(100% - (#{$borderWidth} * 2));
		top: 50%;
		left: 50%;
		border: 0.2em solid $secondary;
		border-radius: 50%;
		background: $base;
		transform: translate(-50%, -50%);
		transition: background 300ms;

		.timeline-show & {
			background: $secondary;
		}
	}

}

.timeline-date {
	text-align: right;

	@include tablet {
		.timeline-right & {
			text-align: left;
		}
	}
}

.timeline-content {
	opacity: 0;
	transition: transform 300ms, opacity 150ms;
	text-align: left;
	transform: translateX(30px);

	@include tablet {
		.timeline-right & {
			text-align: right;
			transform: translateX(-30px);
		}
	}

	.timeline-show & {
		opacity: 1;
		transform: translateX(0);
		transition-delay: 200ms, 150ms;
	}

}


