
// Config vars

$mhc-blue: #2E648D;  // MHC logo brand color
$mhc-blue-lt: #B4D9F5;
$mhc-white: #FFF9F0;

$primary: $mhc-blue;
$secondary: $mhc-blue-lt;
$base: $mhc-white;
$primary-invert: $mhc-white;
$body-color: #333;
$black: #2b2523;

@mixin sans {
	font-family: 'Noto Sans', -apple-system, BlinkMacSystemFont, Arial, sans;
}
@mixin serif {
	font-family: 'Noto Serif', Garamond, serif;
}
