
// Config vars

$mhc-blue: 			#2E648D;  // MHC logo brand color
$mhc-blue-lt: 	#B4D9F5;
$mhc-brown: 		#482B12;
$mhc-brown-dk: 	#402915;
$mhc-grey: 			#585757;
$mhc-grey-dk: 	#3F3F3F;
$mhc-white: 		#FFF9F0;

$primary: $mhc-blue;
$secondary: $mhc-blue-lt;
$neutral: $mhc-brown;
$neutral-dark: $mhc-brown-dk;
$text: $mhc-grey;
$text-dark: $mhc-grey-dk;
$base: $mhc-white;
$primary-invert: $mhc-white;
$body-color: $mhc-grey-dk;
$black: #2b2523;

@mixin sans {
	font-family: 'Noto Sans', -apple-system, BlinkMacSystemFont, Arial, sans;
}
@mixin serif {
	font-family: 'Noto Serif', Garamond, serif;
}

/* MIXIN - LINEAR-INTERPOLATION */
@function linear-interpolation($map,$xtra:0px) {
	$keys: map-keys($map);
	@if (length($keys) != 2) {
		@error 'linear-interpolation() $map must be exactly 2 values';
	}
	// The slope
	$m: (map-get($map, nth($keys, 2)) - map-get($map, nth($keys, 1))) / (nth($keys, 2) - nth($keys, 1));

	// The y-intercept
	$b: map-get($map, nth($keys, 1)) - $m * nth($keys, 1);

	// Determine if the sign should be positive or negative
	$sign: '+';
	@if ($b < 0) {
		$sign: '-';
		$b: abs($b);
	}

	@if ($xtra == 0px) {
		@return calc(#{$m * 100}vw #{$sign} #{$b});
	} @else {
		@return calc(#{$m * 100}vw #{$sign} #{$b} + #{$xtra});
	}
}
